:root {
    --color-1: #C72C41;
    --color-2: white;
    --color-3: gray;
}

* {
    font-family: 'Lato', sans-serif;
}


#inputText {
    height: calc(100vh -100px);
    width: calc(50% - 100px);
    resize: none;
    padding: 50px;
    border: none;
    font-size: xx-large;
    font-weight: 300;
}

#inputText:focus {
    outline: none;
}


#resultText {
    position: absolute;
    height: calc(100vh - 100px);
    width:  calc(50% - 100px);
    background-color: var(--color-1);
    left: 50%;
    top: 0;

    font-size: xx-large;
    padding: 50px;
    color: var(--color-2);
    font-style: bold;

    font-family: 'Lato', sans-serif;
}

.button {
    position: fixed;
    top: 80vh;
    z-index: 1;
    border: none;
    padding: 20px 50px;
    border-radius: 10px;
    transition: all ease 0.4s;
}

.button:hover {
    box-shadow: 5px 5px 5px var(--color-3);
}

.encriptar {
    background-color: var(--color-1);
    color: var(--color-2);
    left: 10%;
}

.desencriptar {
    background-color: var(--color-1);
    color: var(--color-2);
    left: 30%;
}

.disabled {
    background-color: var(--color-3);
}

#copy {
    left: 68%;
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 25px 80px;
}

/* messages */

.message {
    position: fixed;
    z-index: 1;
    top: 40%;
    background-color: var(--color-3);
    color: var(--color-2);
    padding: 15px;
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;

    transform: translateY(50px);

    transition: all ease-in-out 0.6s;
}

#message-input-text {
    left: 18%;
}

#message-copy {
    left: 72%;
}  

.appear {
    visibility: visible;
    opacity: 1;

    transform: translateY(0px);
}